<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/staff/staff.css">
    <link rel="stylesheet" href="/css/system/paymentSystem.css">
    <title>Payment Shop</title>
</head>

<body>
    <%- include('../staff/componentStaff/notification') %>

    <%- include('../staff/componentStaff/sideBar') %>

    <!-- Main Content -->
    <div class="content">
        <%- include('../staff/componentStaff/navBar') %>

        <main>
            <div class="header">
                <div class="left">
                    <h1>Payment System</h1>
                    <ul class="breadcrumb ">
                        <a href="/system/" class="active">Cart</a>
                        /
                        <a href="/system/payment">Payment</a>
                    </ul>
                </div>
                <a href="#" class="report">
                    <i class='bx bx-cloud-download'></i>
                    <span>Download CSV</span>
                </a>
            </div>

            <!-- Insights -->
            <ul class="insights">
                <li>
                    <div class="bill-info">
                        <span class="info">
                            <h2 style="font-size: 40px;">
                                Bill Information
                            </h2>
                        </span>
                        <h2>Details</h2>
                        <p>Total Product: <span id="totalProduct">
                                <%= totalProduct %>
                            </span></p>
                        <p>Total Money: <span id="totalMoney">
                                <%= totalMoney %> $
                            </span></p>

                        <div class="money-give">
                            <label for="moneyGive">Money Give:</label>
                            <input type="number" id="moneyGive" required>
                        </div>

                        <p>Money Back: <span id="moneyBack">Not enough money</span></p>

                        <h2 style="margin-top: 15px;">Customer Information</h2>
                        <div class="customer-info">
                            <div class="customer-name">
                                <label for="nameCustomer">Name:</label>
                                <input type="text" id="nameCustomer">
                            </div>

                            <div class="customer-phone">
                                <label for="phoneCustomer">Phone:</label>
                                <input type="text" id="phoneCustomer">
                            </div>

                            <div class="customer-address">
                                <label for="addressCustomer">Address:</label>
                                <input type="text" id="addressCustomer">
                            </div>
                            <button id="submitButton" name="submitButton" class=" btn-continue"
                                style="display: none;">Submit</button>
                        </div>

                    </div>

                </li>
            </ul>
            <!-- End of Insights -->
        </main>
    </div>

    <script>
        const moneyGiveInput = document.getElementById('moneyGive');
        const totalMoneySpan = document.getElementById('totalMoney');
        const moneyBackSpan = document.getElementById('moneyBack');
        const submitButton = document.getElementById('submitButton');

        moneyGiveInput.addEventListener('input', function () {
            const totalMoney = parseFloat(totalMoneySpan.textContent);
            const moneyGive = parseFloat(moneyGiveInput.value);

            const moneyBack = moneyGive - totalMoney;

            moneyBackSpan.textContent = moneyBack >= 0 ? moneyBack.toFixed(2) : 'Not enough money';

            if (moneyBack >= 0) {
                submitButton.style.display = 'block';
            } else {
                submitButton.style.display = 'none';
            }
        });

        document.getElementById('submitButton').addEventListener('click', function () {
            const nameCustomer = document.getElementById('nameCustomer').value;
            const phoneCustomer = document.getElementById('phoneCustomer').value;
            const addressCustomer = document.getElementById('addressCustomer').value;
            const moneyGive = parseFloat(document.getElementById('moneyGive').value);
            const moneyBack = parseFloat(document.getElementById('moneyBack').textContent);
            const totalProduct = parseFloat(document.getElementById('totalProduct').textContent);
            const totalMoney = parseFloat(document.getElementById('totalMoney').textContent);

            const data = {
                nameCustomer,
                phoneCustomer,
                addressCustomer,
                moneyGive,
                moneyBack,
                totalProduct,
                totalMoney,
            };

            fetch('/system/payment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Response JSON:', data);
                    const { message, bill, pdfBase64 } = data;

                    const binaryData = atob(pdfBase64);
                    const arrayBuffer = new ArrayBuffer(binaryData.length);
                    const uintArray = new Uint8Array(arrayBuffer);

                    for (let i = 0; i < binaryData.length; i++) {
                        uintArray[i] = binaryData.charCodeAt(i);
                    }

                    const blob = new Blob([uintArray], { type: 'application/pdf' });

                    const url = URL.createObjectURL(blob);

                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'bill.pdf'; 
                    a.click();

                    URL.revokeObjectURL(url);

                    const mainContent = document.querySelector('main');
                    mainContent.innerHTML = '';

                    const successMessage = document.createElement('div');
                    successMessage.innerHTML = `
                        <h1>Payment Successful</h1>
                        <p>Your payment was successful.</p>
                        <button onclick="window.history.back()" id="backButton" name="backButton">Back</button>
                    `;

                    mainContent.appendChild(successMessage);
                })
                .catch(error => {
                    console.error('There was a problem with the POST request:', error);
                });
        });
    </script>
</body>

</html>