<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/staff/staff.css">
    <title>Payment Shop</title>
</head>

<body>
    <%- include('componentStaff/notification') %>

    <%- include('componentStaff/sideBar') %>

    <!-- Main Content -->
    <div class="content">
        <%- include('componentStaff/navBar') %>

        <main>
            <div class="header">
                <div class="left">
                    <h1>Manager Customer</h1>
                </div>
                <a href="#" class="report">
                    <i class='bx bx-cloud-download'></i>
                    <span>Download CSV</span>
                </a>
            </div>


            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>List Customer</h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-search'></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Phone</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Process</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% list_customer.forEach(customer=> { %>
                                <tr>
                                    <td>
                                        <%= customer.phone_customer %>
                                    </td>
                                    <td>
                                        <%= customer.name_customer %>
                                    </td>
                                    <td>
                                        <%= customer.address_customer %>
                                    </td>
                                    <td>
                                        <a href="/staff/list-bill-customer/<%= customer._id %>">See bill details</a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

        <script src="/js/staff/index.js"></script>
</body>

</html>