<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/staff/staff.css">
    <title>Payment Shop</title>
</head>

<body>
    <%- include('componentStaff/notification') %>

    <%- include('componentStaff/sideBar') %>

    <!-- Main Content -->
    <div class="content">
        <%- include('componentStaff/navBar') %>

        <main>
            <div class="header">
                <div class="left">
                    <h1>Manager Customer</h1>
                </div>
                <a href="#" class="report">
                    <i class='bx bx-cloud-download'></i>
                    <span>Download CSV</span>
                </a>
            </div>

            <h1>Bill Detail</h1>
            <ul>
                <li>Total Money: <%= bill.total_money_bill %>
                </li>
                <li>Total Products: <%= bill.total_product_bill %>
                </li>
                <li>Money Given: <%= bill.money_give_bill %>
                </li>
                <li>Money Back: <%= bill.money_back_bill %>
                </li>
                <li>Date: <%= bill.date_bill %>
                </li>
                <li>Phone Customer: <%= bill.customer.phone_customer %>
                </li>
                <li>Email Staff: <%= bill.staff.email_staff %>
                </li>
            </ul>

            <div class="bottom-data">
                <div class="orders">
                    <div class="header">
                        <i class='bx bx-receipt'></i>
                        <h3>List Product of Bill: <%= bill._id %></h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-search'></i>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Code Product</th>
                                <th>Name Product</th>
                                <th>Quantity Product</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% list_product_bill.forEach(product_bill=> { %>
                                <tr>
                                    <td>
                                        <%= product_bill.product.code_product %>
                                    </td>
                                    <td>
                                        <%= product_bill.product.name_product %>
                                    </td>
                                    <td>
                                        <%= product_bill.quantity_product_bill %>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>

</body>

</html>