<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin/admin.css">
    <title>Payment Shop</title>
</head>

<body>
    <%- include('componentAdmin/notification') %>
    <div class="success" style="display: none;">
        <h2 id="successMessage"></h2>
    </div>

    <div class="error" style="display: none;">
        <h2 id="errorMessage"></h2>
    </div>
    
    <div class="container">
        <%- include('componentAdmin/sideBar') %>

            <!-- Main Content -->
            <main>
                <!-- Recent Orders Table -->
                <div class="recent-orders">
                    <h1>List Staff</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Avatar Staff</th>
                                <th>Full Name Staff</th>
                                <th>Email Staff</th>
                                <th>Name Staff</th>
                                <th>Date Staff</th>
                                <th>Status Staff</th>
                                <th>Check Click Email Staff</th>
                                <th>Check Change Password First Time Staff</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% list_staff.forEach(staff=> { %>
                                <tr>
                                    <td>
                                        <img src="<%= staff.avatar_staff %>" alt="Avatar" width="100" height="100">
                                    </td>
                                    <td>
                                        <%= staff.full_name_staff %>
                                    </td>
                                    <td>
                                        <%= staff.email_staff %>
                                    </td>
                                    <td>
                                        <%= staff.name_staff %>
                                    </td>
                                    <td>
                                        <%= staff.date_staff %>
                                    </td>
                                    <td>
                                        <% if (staff.status_staff) { %>
                                            Unlock
                                        <% } else { %>
                                            Lock
                                        <% } %>
                                    </td>
                                    <td>
                                        <%= staff.check_click_email_staff %>
                                    </td>
                                    <td>
                                        <%= staff.check_change_new_password_first_time_staff %>
                                    </td>
                                    <td>
                                        <a href="/admin/list-detail-staff/<%= staff._id %>" name="detailStaff_<%= staff.email_staff %>" id="detailStaff_<%= staff.email_staff %>">See staff details</a>
                                        <button class="delete-btn" data-id-staff="<%= staff._id %>" name="deleteButton_<%= staff.email_staff %>" id="deleteButton_<%= staff.email_staff %>">Delete</button> 
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <!-- End of Recent Orders -->

            </main>
            <!-- End of Main Content -->

        <%- include('componentAdmin/rightSection') %>
    </div>

    <script>
        document.querySelectorAll('.delete-btn').forEach(btn => {
            btn.addEventListener('click', async function() {
                const staffId = this.getAttribute('data-id-staff');
               
                try {
                    const response = await fetch(`/admin/delete-staff/${staffId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    if (response.ok) {
                        this.closest('tr').remove();
                        const result = await response.json();
                        showSuccessMessage(result.message);
                    } else {
                        const result = await response.json();
                        showErrorMessage(result.message);
                    }
                } catch (err) {
                    console.error(err);
                }
            });
        });
    </script>

    <script>
        async function showSuccessMessage(message) {
            const successMessageElement = document.getElementById('successMessage');
            const successDiv = document.querySelector('.success');

            successMessageElement.textContent = message;
            successDiv.style.display = 'block';

            await new Promise((resolve) => setTimeout(resolve, 3000)); 
            successDiv.style.display = 'none';
        }

        async function showErrorMessage(message) {
            const errorMessageElement = document.getElementById('errorMessage');
            const errorDiv = document.querySelector('.error');

            errorMessageElement.textContent = message;
            errorDiv.style.display = 'block';

            await new Promise((resolve) => setTimeout(resolve, 3000));
            errorDiv.style.display = 'none';
        }
    </script>
</body>

</html>