<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/listDetailStaff.css">
    <title>Payment Shop</title>
</head>

<body>
    <%- include('componentAdmin/notification') %>
    <div class="success" style="display: none;">
        <h2 id="successMessage"></h2>
    </div>
    <div class="error" style="display: none;">
        <h2 id="errorMessage"></h2>
    </div>

    <div class="container">
        <%- include('componentAdmin/sideBar') %>

            <!-- Main Content -->
            <main>
                <!-- Recent Orders Table -->
                <div class="recent-orders">
                    <h1>Detail Staff</h1>
                    <% if(staff) { %>
                        <table>
                            <thead>
                                <tr>
                                    <th>Avatar Staff</th>
                                    <th>Full Name Staff</th>
                                    <th>Email Staff</th>
                                    <th>Name Staff</th>
                                    <th>Date Staff</th>
                                    <th>Status Staff</th>
                                    <th>Check Click Email Staff</th>
                                    <th>Check Change Password First Time Staff</th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>
                                    <img src="<%= staff.avatar_staff %>" alt="Avatar" width="100" height="100">
                                </td>
                                <td>
                                    <%= staff.full_name_staff %>
                                </td>
                                <td>
                                    <%= staff.email_staff %>
                                </td>
                                <td>
                                    <%= staff.name_staff %>
                                </td>
                                <td>
                                    <%= staff.date_staff %>
                                </td>
                                <td id="statusCell_<%= staff._id %>">
                                    <% if (staff.status_staff) { %>
                                        Unlock
                                    <% } else { %>
                                        Lock
                                    <% } %>
                                    <button class="status-button" onclick="changeStatusStaff(
                                      '<%= staff._id %>', 
                                      '<%= staff.status_staff %>'
                                    )" name="statusButton_<%= staff.email_staff %>" id="statusButton_<%= staff.email_staff %>">Status</button>
                                </td>
                                <td>
                                    <%= staff.check_click_email_staff %>
                                    <button class="token-button" onclick="sendTokenToEmailStaff(
                                      '<%= staff._id %>'
                                    )" name="sendEmailButton_<%= staff.email_staff %>" id="sendEmailButton_<%= staff.email_staff %>">Send Token To Email Staff</button>
                                </td>
                                <td>
                                    <%= staff.check_change_new_password_first_time_staff %>
                                </td>
                            </tbody>
                        </table>
                    <% } else { %>
                        <p>No staff information available.</p>
                    <% } %>
                </div>
                <!-- End of Recent Orders -->

            </main>
            <!-- End of Main Content -->

        <%- include('componentAdmin/rightSection') %>
    </div>

    <script>
        async function changeStatusStaff(id, currentStatus) {
            try {
                const response = await fetch('/admin/change-status-staff', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        staffId: id,
                        currentStatus: currentStatus
                    })
                });

                if (response.ok) {
                    const result = await response.json();

                    const statusText = result.staff.status_staff ? 'Unlock' : 'Lock';
                    const statusCell = document.getElementById(`statusCell_${id}`); 
                    if (statusCell) {
                        statusCell.innerHTML = `${statusText}
                        <button class="status-button" onclick="changeStatusStaff(
                        '${id}', 
                        '${result.staff.status_staff}'
                        )" name="statusButton_${result.staff.email_staff}" id="statusButton_${result.staff.email_staff}">Status</button>`;
                    }

                    showSuccessMessage(result.message);
                } else {
                    const result = await response.json();
                    showErrorMessage(result.message);
                }
            } catch (err) {
                console.error(err);
            }
        }

        async function sendTokenToEmailStaff(id) {
            try {
                const response = await fetch('/admin/send-token-to-email-staff', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        staffId: id
                    })
                });

                if (response.ok) {
                    const result = await response.json();
                    showSuccessMessage(result.message);
                } else {
                    const result = await response.json();
                    showErrorMessage(result.message);
                }
            } catch (err) {
                console.error(err);
            }
        }
    </script>

    <script>
        async function showSuccessMessage(message) {
            const successMessageElement = document.getElementById('successMessage');
            const successDiv = document.querySelector('.success');

            successMessageElement.textContent = message;
            successDiv.style.display = 'block';

            await new Promise((resolve) => setTimeout(resolve, 3000)); 
            successDiv.style.display = 'none';
        }

        async function showErrorMessage(message) {
            const errorMessageElement = document.getElementById('errorMessage');
            const errorDiv = document.querySelector('.error');

            errorMessageElement.textContent = message;
            errorDiv.style.display = 'block';

            await new Promise((resolve) => setTimeout(resolve, 3000));
            errorDiv.style.display = 'none';
        }
    </script>
</body>

</html>